<div class="container">
  <div class="container_item">

    <div class="template" id="shadow_box">

      <div class="category">
        <mat-form-field appearance="fill">
          <mat-label>By field</mat-label>
          <mat-select [(value)]="selectedCategory">
            <mat-option *ngFor="let item of searchByCategories" [value]="item"> {{ item }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input">

        <mat-form-field class="example-full-width" *ngIf="(selectedCategory == searchByCategories[0]) || (selectedCategory == searchByCategories[1])">
          <mat-label>Enter param</mat-label>
          <input matInput [(ngModel)]="inputFieldData">
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="selectedCategory == searchByCategories[3]">
          <mat-select [(value)]="selectedStatus">
            <mat-option *ngFor="let item of statuses" [value]="item.status"> {{ item.status }} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="selectedCategory == searchByCategories[2]">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="pickerDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <div class="button">
        <button mat-button color="primary" (click)="findClick()">Find</button>
      </div>
    </div>

    <div class="table">
      <pre>{{ users | json }}</pre>
    </div>

  </div>
</div>

